@charset "UTF-8";
*{
    margin: 0px;
    font-family: sans-serif;
}
div.nav-center{
   text-align: center;
}
div.nav-center h1{
    margin: 20px;
    border-radius:20px ;
    background:linear-gradient(to right ,black , transparent);
    color: white;
    padding: 20px ;
    text-align: center;
    font-size: 5em;
}
.container h2{
    text-align: center;
    margin: 20px;
    width: 30%;
    margin: auto;
    background-color: black;
    border-radius:20px ;
    color: white;
    padding: 20px ;
}
li {
    margin: 30px;
    list-style: circle;
    display: inline-block;
    font-size: 3em;
}
a{
    color: black;
}
a:hover{
    color: rgb(124, 113, 113);
    transition: color 0.8s;
}
button{
    background-color: black;
    color:white;
    box-shadow: 2px 4px 8px black;
    height: 30px;
    width: 120px;
    display: block;
    margin: 20px auto;
}